.headerContainer {
  position: sticky;
  top: 0;
  padding: 0 82px ;
  box-shadow: 0px 1px 4px 0px #0000001A;
  height: auto; 
  background-color: white;
}

.navbarContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: minmax(1rem, auto); 
}

.navBar {
  display: flex;
  align-items: center;
  align-content: center;
  grid-column: 1 / 12; 
}

.navIcon {
  margin: 0.5rem 0;
}

.navLink {  
  padding: 0 1rem;  
  height: auto; 
}

.langSelectors {
  display: flex;
  align-items: center;
  align-content: center;
  grid-column: 12 / 13;   
  text-align: end;
  justify-content: flex-end;
}

.languageSelector {
  font-size: 1rem;
  cursor: pointer;
}

/* -------------------MOBILE-------------------------- */

.navBarMobile {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  grid-column: 1 / 13; 
  z-index: 99;
  background-color: white;
}

.langSelectorsMobile {
  display: flex;
  align-items: center;
  align-content: center;   
  text-align: end;
  justify-content: flex-end;
}

.navBarMobile .navIcon, .navBarMobile .langSelectorsMobile {
  width: 33.33%;  
}
  

.navBarMobileOpen {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;  
  width: 100%;  
  box-shadow: 0px 1px 4px 0px #0000001A;
  background-color: white;
  z-index: 80;
}

.navbarContainer .navBarMobileOpen a {
  font-size: 0.8rem;
}

.navbarContainer .navBarMobileOpen .navLink {
  padding: 0.3rem 0;  
}
