/* MIS ESTILOS */
:root {
  --main-color: black;  
  --second-color: #0D6EFD;
  --third-color: white;
  --main-bg: white;
  --second-bg: blue;
  --main-boder: solid var(--main-color) 1px;
}


* {
  list-style: none;   
  font-family: 'Raleway', sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: Black;
}

p, label, input, .form-control, a { 
  font-size: 1rem;
  color: var(--main-color);
  margin: 0;                         
  padding: 0;
  text-align: justify;
  font-weight: 700;  
}

.divContainer {
  /* ver altura de Navbar y restarla */
  padding-top: 2rem;
  min-height: calc(100vh - 60px);
}